[Desktop Entry]
Name=GNOME DDC Control
Comment=Manage monitors through ddcutil-service
Exec=gnomeddc
Icon=com.ddcutil.GnomeDDC
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
